<div class="statistics-container d-flex flex-row justify-content-between">
    <div class="statistics-item border d-flex flex-column justify-content-center align-items-center">
      <p class="statistics-item-color statistics-item-text fs-6 pt-4 w-50 text-center mb-1">Số bài học đã học</p>
      <p class="statistics-item-value fs-4 fw-bold m-0"><%= totalLessonsLearned %></p>
      <p class="statistics-item-text fs-6">bài học</p>
    </div>
    <div class="statistics-item border d-flex flex-column justify-content-center align-items-center">
      <p class="statistics-item-color statistics-item-text fs-6 pt-2 w-50 text-center mb-1">Độ chính xác</p>
      <p class="statistics-item-value fs-4 fw-bold m-0"><%= accuracy %>%</p>
      <div>&nbsp;</div>
    </div>
    <div class="statistics-item border d-flex flex-column justify-content-center align-items-center">
      <p class="statistics-item-color statistics-item-text fs-6 pt-2 w-50 text-center mb-1">Thời gian trung bình</p>
      <p class="statistics-item-value fs-4 fw-bold m-0"><%= avgTime %></p>
      <div>&nbsp;</div>
    </div>
    <div class="statistics-item border d-flex flex-column justify-content-center align-items-center">
      <p class="statistics-item-color statistics-item-text fs-6 pt-2 w-50 text-center mb-1">Điểm trung bình</p>
      <p class="statistics-item-value fs-4 fw-bold m-0"><%= avgScore %>/10</p>
      <div>&nbsp;</div>
    </div>
    <div class="statistics-item border d-flex flex-column justify-content-center align-items-center">
      <p class="statistics-item-color statistics-item-text fs-6 pt-2 w-50 text-center mb-1">Điểm cao nhất</p>
      <p class="statistics-item-value fs-4 fw-bold m-0"><%= highestScore %></p>
      <div>&nbsp;</div>
    </div>
  </div>
  